{% if paginate.pages > 1 %}
          <div id="Huratips-Pagination">
              {% if paginate.next %}
              <a href="{{ paginate.next.url }}">Load More</a>
              {% endif %}  
          </div>
        {% endif %}

        <script>
  document.addEventListener("DOMContentLoaded", function() {
    var endlessScroll = new Ajaxinate({
      container: '#Huratips-Loop',
      pagination: '#Huratips-Pagination'
    });
  });
</script>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}