<section class="review-slider">
  <div class="slider-heading">
    <h2>Faculty members at the forefront of Medical Aesthetics</h2>
    <p>IIAM has hand-picked a collection of the most experienced trainers, researchers, and practice management experts in the industry. Our renowned faculty understands that the practice of Medical Aesthetics requires knowledge of consultation, art, practice, and experience.</p>
  </div>
  <div class="swiper review_swiper">
    <div class="swiper-wrapper">
    
      <div class="swiper-slide">
        <div class="slider-card">
          <img class="star_img" src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/image.png?v=1710403806">
          <div class="slider-bottom-content">
              <h4>Dr. Vanessa Abdelhalim</h4>
              <p class="slide-content">Masterclass Faculty / Scientific Planning Committee</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider-card">
          <img class="star_img" src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/image.png?v=1710403806">
          <div class="slider-bottom-content">
              <h4>Dr. Vanessa Abdelhalim</h4>
              <p class="slide-content">Masterclass Faculty / Scientific Planning Committee</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider-card">
          <img class="star_img" src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/image.png?v=1710403806">
          <div class="slider-bottom-content">
              <h4>Dr. Vanessa Abdelhalim</h4>
              <p class="slide-content">Masterclass Faculty / Scientific Planning Committee</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider-card">
          <img class="star_img" src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/image.png?v=1710403806">
          <div class="slider-bottom-content">
              <h4>Dr. Vanessa Abdelhalim</h4>
              <p class="slide-content">Masterclass Faculty / Scientific Planning Committee</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider-card">
          <img class="star_img" src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/image.png?v=1710403806">
          <div class="slider-bottom-content">
              <h4>Dr. Vanessa Abdelhalim</h4>
              <p class="slide-content">Masterclass Faculty / Scientific Planning Committee</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider-card">
          <img class="star_img" src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/image.png?v=1710403806">
          <div class="slider-bottom-content">
              <h4>Dr. Vanessa Abdelhalim</h4>
              <p class="slide-content">Masterclass Faculty / Scientific Planning Committee</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div>
        <div class="swiper-button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="16" viewBox="0 0 42 16" fill="none">
            <path opacity="0.5" d="M41 7C41.5523 7 42 7.44772 42 8C42 8.55228 41.5523 9 41 9V7ZM0.292893 8.70711C-0.0976311 8.31658 -0.0976311 7.68342 0.292893 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.70711ZM41 9H1V7H41V9Z" fill="#707070"/>
          </svg></div>
    <div class="swiper-button-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="42" height="16" viewBox="0 0 42 16" fill="none">
        <path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM41.7071 8.70711C42.0976 8.31658 42.0976 7.68342 41.7071 7.29289L35.3431 0.928932C34.9526 0.538408 34.3195 0.538408 33.9289 0.928932C33.5384 1.31946 33.5384 1.95262 33.9289 2.34315L39.5858 8L33.9289 13.6569C33.5384 14.0474 33.5384 14.6805 33.9289 15.0711C34.3195 15.4616 34.9526 15.4616 35.3431 15.0711L41.7071 8.70711ZM1 9H41V7H1V9Z" fill="#2A2A2A"/>
      </svg>
  </div>
  </div>
</section>
<style>
 .review-slider {
    padding-bottom: 48px;
    position: relative;
    background: #EFEFEF;
  }
  .slider-heading {
    margin: auto;
    padding: 0 15px;
  }
  .slider-heading h2 {
    margin: 0;
    color: #121212;
    font-size: 60px;
    line-height: 120%;
  }
  .slider-heading p {
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 16px 0 40px;
  }
  .slider-card {
    border-radius: 10px;
    background: #FFF;
  }
  .slider-card h4 {
    color: var(--Black, #2A2A2A);
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
  }
  .slider-card .star_img {
    width: 100%;
    margin: auto;
    display: block;
  }
  .slide-content {
    text-align: center;
    font-family: Assistant;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .reviewr_details {
    text-align: center;
  }
  .reviewr_details span {
    color: #121212;
    font-family: Assistant;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
  }
 
  .review-slider .swiper-button-prev:after, .review-slider .swiper-button-next:after{
    display:none !important;
  }
 .review-slider .swiper-button-prev{
   top: unset;
       right: 87px;
    left: unset;
       bottom: 0;
 }
  .review-slider .swiper-button-next{
    top: unset;
    right: 44px;
        bottom: 0;
  }
  .slider-bottom-content{
    padding:16px;
  }
  @media(max-width: 758px) {
    .review-slider:after {
      bottom: -185px;
    }
    .slider-heading h2 {
      font-size: 35px;
      white-space: nowrap;
    }
    #js-prev1, #js-next1 {
      display: flex;
    }
  }
</style>

<script>

        function waitForSwiper(trigger) {
            var interval = setInterval(function () {
                if (typeof Swiper != 'undefined') {
                    clearInterval(interval);
                    trigger();
                }
            })
            setTimeout(function () {
                clearInterval(interval);
            }, 15000)
        }
     

        function reviewSlider() {
            var swiper = new Swiper('.review_swiper', {
                centeredSlides: true,
                loop: true,
                navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },

                breakpoints: {
                    769: {
                        slidesPerView: 5,
                         spaceBetween: 30
                    },
                  
                    0: {
                        slidesPerView: 1.3,
                        spaceBetween: 10,
                          
                    },

                },

            });

        }
        waitForSwiper(function () {
          reviewSlider();
        })
</script>

{% schema %}
  {
    "name": "Simple Slider",
    "settings": [],
    "presets":[
      {
        "name": "Simple Slider"
      }
    ]
  }
{% endschema %}