<div class="training-program">
  <div class="heading">Become Certified In Medical Aesthetics
  With Our Internationally Accredited Training Programs 
  </div>
  <div class="logo-container custom-class">
    <div class="logo-block">
      <img src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/royal_collage.png?v=1710480349">
    </div>
    <div class="logo-block">
      <img src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/ama.png?v=1710480349">
    </div>
    <div class="logo-block">
      <img src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/candan.png?v=1710480349">
    </div>
    <div class="logo-block">
      <img src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/cnpbs.png?v=1710480349">
    </div>
     <div class="logo-block">
      <img src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/ancc.png?v=1710480349">
    </div>
    <div class="logo-block">
      <img src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/mainpro.png?v=1710480349">
    </div>
    <div class="logo-block">
      <img src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/aapa.png?v=1710480349">
    </div>
    <div class="logo-block">
      <img src="https://cdn.shopify.com/s/files/1/0642/2436/2668/files/aanp.png?v=1710480349">
    </div>
</div>
</div>


<style>
.training-program {
  background-color: #ffffff;
}
.training-program .heading{
  color: #111;
  text-align: center;
  font-family: Marcellus;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.training-program .logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.training-program .logo-block img {

  width: 100%;
  display: block;
  margin: auto;
}

.training-program .logo-block p {
  text-align: center;
   color: var(--Blue-Dark, #023449);
   font-family: Jost;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
  }

.training-program .block-description {
  color: #121212;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.training-program .btn {
  background-color: #ffffff;
  max-width: 100px;
}

.training-program .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
</style>
{% schema %}
  {
    "name": "Icon with text",
    "settings": [],
    "presets":[
      {
        "name": "Icon with text"
      }
    ]
  }
{% endschema %}