.mega-menu {
  position: static;
}

.mega-menu__content {
  background: white !important;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 43px;
  padding-top: 43px;
  position: absolute;
  right: 0;
  top: 100%;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: grid;
  gap: 1.8rem 4rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

/* header new css */
.header--middle-left {
    grid-template-columns: auto auto;
}
.header .header__menu-item:hover span,
.header details[open]>.header__menu-item{
  text-decoration:none;
}
.header details[open]>.header__menu-item svg{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}
.header .header__menu-item svg{
  transition: transform 0.5s ease-in-out;
}
.header .list-menu__item{
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 1.05px;
      gap: 8px;
}
.list-menu__item span {
    color: #42613B;
    text-decoration:none;
}
.header--middle-left .header__inline-menu{
  text-align:center;
}
/* header new css End*/

/* new css megamenu desktop */
.mega-menu__content .menu-content {
    display: flex;
    justify-content: space-between;
      max-width: 1200px;
    margin: auto;
    gap:95px;
  padding-left:20px;
  padding-right:20px;
}

.mega-menu__content .menu-column {
    text-align: left;
    flex-basis: 200px;
}

.mega-menu__content .menu-column h3,
#menu-drawer-mobile .menu-column h3{
    color: #42613B;
    font-family: "Acherus Grotesque";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin: 0;
    margin-bottom: 8px;
}
.mega-menu__content .menu-column p,
#menu-drawer-mobile .menu-column p{
    color: #4F4F4F;
    font-family: "Acherus Grotesque";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  margin:0;
}
.mega-menu__content .menu-products{
    display: flex;
    flex: 3;
    flex-wrap:wrap;
    /* justify-content: space-around; */
    /* gap:24px; */
}

.mega-menu__content .product-item {
    text-align: center;
    width:25%;
    padding-right:24px;
    padding-top:24px;
}
.mega-menu__content .product-item:last-child{
  padding-right:0;
}
.mega-menu__content .product-item a,
#menu-drawer-mobile .product-item a{
    text-decoration:none;
    /* max-width: 200px;
    display: block; */
}
.mega-menu__content .product-item img,
#menu-drawer-mobile .product-item img{
      width: 100%;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(94, 177, 161, 0.20) 0.06%, rgba(255, 255, 255, 0.20) 148.25%), #EFF7F6;
}

.mega-menu__content .product-item h4,
#menu-drawer-mobile .menu-drawer__dropdown .product-item h4{
    margin-top: 10px;
    color: var(--J-Dark-Purple, #262535);
    text-align: center;
    font-family: "Acherus Grotesque";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 8px;
}

.mega-menu__content .product-item p,
#menu-drawer-mobile .menu-drawer__dropdown .product-item p{
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: "Acherus Grotesque";
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}
.mega-menu__content .product-item .image-container,
#menu-drawer-mobile .product-item .image-container{
  position:relative;
}
.mega-menu__content .product-item .best-seller,
#menu-drawer-mobile .menu-drawer__dropdown .product-item .best-seller{
  background: #5eb1a1;
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 12.1px;
    text-align: center;
    padding: 5px 16px;
    color: #f2f2f2;
    border-radius: 100px;
    position:absolute;
    top: 10px;
    left: 10px;
}
.mega-menu__content .product-item .product-tag, 
#menu-drawer-mobile .menu-drawer__dropdown .product-item .product-tag {
  display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    left:10px;
}
.mega-menu__content .product-item .product-tag span,
#menu-drawer-mobile .menu-drawer__dropdown .product-item .product-tag span{
      justify-content: center;
    align-items: center;
    background: #fff;
    padding: 5px 10px;
    margin-right: 0;
    display: flex;
    border: .5px solid #BDBDBD;
    gap: 6px;
    border-radius: 100px;
    font-family: IBM Plex Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .04em;
    text-align: left;
    color: #4f4f4f;
}
.mega-menu__content .button,
#menu-drawer-mobile .menu-column .button{
    margin-top: 18px;
    font-family: "Acherus Grotesque";
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    max-width: 185px;
    width: 100%;
}


/* megamenu css mobile */
#menu-drawer-mobile .menu-drawer__menu-item-wrapper {
  position: relative;
}

#menu-drawer-mobile .menu-drawer__menu-item[data-dropdown="true"] {
  cursor: pointer;
      justify-content: space-between;
}

#menu-drawer-mobile .menu-drawer__dropdown {
  display: none;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  z-index: 1000;
  padding: 20px;
}

#menu-drawer-mobile .menu-drawer__dropdown .menu-content {
  display: flex;
  flex-direction: column;
}

#menu-drawer-mobile .menu-drawer__dropdown .menu-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
      padding-top: 20px;
}

#menu-drawer-mobile .menu-drawer__dropdown .product-item {
  text-align: center;
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
}

#menu-drawer-mobile .menu-drawer__menu-item{
  position:relative;
}
#menu-drawer-mobile .menu-drawer__menu-item:hover{
  background-color:unset;
}
#menu-drawer-mobile .menu-drawer__menu-item[data-dropdown=true].active{
  background-color:#fff;
}
#menu-drawer-mobile .menu-drawer__menu-item[data-dropdown=true]:not(.active) .minus{
  display:none;
}
#menu-drawer-mobile .menu-drawer__menu-item[data-dropdown=true].active .plus{
  display:none;
}
#menu-drawer-mobile.menu-drawer__navigation{
  padding:0;
}
#menu-drawer-mobile .menu-drawer__menu-item{
  padding:18px 25px;
}