@font-face {
  font-family: "Good Sans";
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.shopify.com/s/files/1/0827/2317/6745/files/GoodSans-Black.woff?v=1707105814")
    format("woff");
}
@font-face {
  font-family: "GT Alpina Italic";
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.shopify.com/s/files/1/0827/2317/6745/files/GT-Alpina-Condensed-Light-Italic.woff?v=1707105814")
    format("woff");
}
@font-face {
  font-family: "GT Alpina";
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.shopify.com/s/files/1/0827/2317/6745/files/GT-Alpina-Condensed-Light.woff?v=1707105814")
    format("woff");
}
@font-face {
  font-family: "Untitled Sans";
  font-style: normal;
  font-display: swap;
  src: url("")
    format("woff2");
}
body{
  font-family: "Good Sans";
}
.h1, .h2, .h3, h1, h2, h3{
  font-family: "GT Alpina";
}
em{
  font-family: "GT Alpina Italic";
}
